
<div class="col client-name">
    <p class="card-title"><b>Name:</b> {{item.firstName}} {{item.lastName}}</p>
</div>
<div class="col client-email">
    <p class="card-title"><b>E-mail:</b> {{item.email}}</p>
</div>
<div class="col client-mobile">
    <p class="card-title"><b>Phone Number:</b> {{item.mobile}}</p>
</div>

{{#if showVoucherButton}}
<div class="col client-mobile">
    <button type="button" class="btn btn-primary" id="createVoucherButton">
        Create Voucher
    </button>
</div>
{{/if}}

{{#if showVoucherCard}}
{{voucher-input
    createVoucherRecord=(action "createVoucherRecord")
}}
{{/if}}

{{#if showRewardCard}}
<h5>Voucher created and e-mailed to Client</h5>
{{/if}}

{{#if showErrorMessage}}
<h5>There was an Error creating voucher for client, Please try again later</h5>
{{/if}}