
<div class="col client-name">
    <p class="card-title"><b>Name:</b> {{item.firstName}} {{item.lastName}}</p>
</div>
<div class="col client-email">
    <p class="card-title"><b>E-mail:</b> {{item.email}}</p>
</div>
<div class="col client-mobile">
    <p class="card-title"><b>Phone Number:</b> {{item.mobile}}</p>
</div>

{{#if showVoucherButton}}
<div class="col client-mobile">
    <button type="button" class="btn btn-primary" id="createVoucherButton">
        Create Voucher
    </button>
</div>
{{/if}}

{{#if showVoucherCard}}
{{voucher-input
    createVoucherRecord=(action "createVoucherRecord")
    client=client
}}
{{/if}}

{{#if showRewardCard}}
{{voucher-card
    voucher=voucher
    }}
{{/if}}

{{#if showErrorMessage}}
<div class="alert alert-danger" role="alert">
    There was an Error creating voucher for client, Please try again later
</div>

{{/if}}