<div class="col client-name">
    <h5 class="card-title">Name: </h5>{{item.firstName}} {{item.lastName}}
</div>
<div class="col client-email">
    <h5 class="card-title">E-mail: </h5>{{item.email}}
</div>
<div class="col client-mobile">
    <h5 class="card-title">Phone Number: </h5>{{item.mobile}}
</div>

<div class="col client-mobile">
    Click to create voucher
</div>


{{#if showVoucherCard}}
{{voucher-input
    createVoucherRecord=(action "createVoucherRecord")
}}
{{/if}}

{{#if showRewardCard}}
<h2>Voucher created and emailed to Client</h2>
{{/if}}

{{#if showErrorMessage}}
<h2>There was an Error creating voucher for client, Please try again later</h2>
{{/if}}