<div class="col client-name">
    <h5 class="card-title">Name: {{item.firstName}} {{item.lastName}}</h5>
</div>
<div class="col client-email">
    <h5 class="card-title">E-mail: {{item.email}}</h5>
</div>
<div class="col client-mobile">
    <h5 class="card-title">Phone Number: {{item.mobile}}</h5>
</div>

<div class="col client-mobile">
    <a href="#" class="btn btn-primary">Create Voucher</a>
</div>


{{#if showVoucherCard}}
{{voucher-input
    createVoucherRecord=(action "createVoucherRecord")
}}
{{/if}}

{{#if showRewardCard}}
<h2>Voucher created and emailed to Client</h2>
{{/if}}

{{#if showErrorMessage}}
<h2>There was an Error creating voucher for client, Please try again later</h2>
{{/if}}